.benefit-container-master {
    display: flex;
    justify-content: flex-start; /* Alinha os itens à direita */
    flex-direction: row; /* Certifique-se de que a direção dos itens esteja correta */
    padding: 0 0 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}

// .select-benefits-wrapper {
//     padding: 10px;
//     scroll-behavior: smooth;
//     -webkit-overflow-scrolling: touch; /* Suporte para scroll suave em dispositivos móveis */

// }
  
  .select-benefit-container {
    width: 150px;
    height: 150px;
    flex: 0 0 auto;
    margin-right: 30px; 
  }
  
  
  img {
    width: 30px;
    height: 40px;
  }
  
  .mat-mdc-card-content {
    margin-top: 15px;
    padding: 10px;
  }
  
  h2 {
    font-size: 16px;
    color: #56504c;
  }