<footer class="app-footer">
  <app-container>
    <div class="inner">
      <ul>
        <li>
          <img src="assets/imagens/logo-com-tagline.png" alt="" />
        </li>
        <li>termos de uso e privacidade</li>
        <li>segurança</li>
        <li>precisa de ajuda?</li>
      </ul>
      <ul class="socials">
        <li>capitais e regiões metropolitanas</li>
        <li class="fone">0800 728 0728</li>
        <li>demais localidades</li>
        <li class="fone">0800 728 0728</li>
      </ul>
    </div>
  </app-container>
</footer>
