<h1>Cartão de Crédito Itaú</h1>
<app-card 
    src="../../../assets/images/banner-azul.png"
    alt="banner da aplicacao"
></app-card>
<app-container>
    <h2>selecione o benefício do cartão que dá match com você</h2>
    <div class="card-benefits">
    <app-select-beneficts></app-select-beneficts>
    <app-select-beneficts></app-select-beneficts>
    <app-select-beneficts></app-select-beneficts>
    <app-select-beneficts></app-select-beneficts>
    </div>
</app-container>
<app-container>
    <h2>Cartões de crédito mais pedidos do Itaú</h2>
    <div class="card-wrapper">
        <app-card-search></app-card-search>
        <app-card-search></app-card-search>
        <app-card-search></app-card-search>
        <app-card-search></app-card-search>
    </div>
</app-container>