.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    margin-bottom: 40px;
}
.card-benefits {
    display: flex;
    flex-wrap: wrap; /* Se você quiser que os itens possam quebrar para a próxima linha */
    justify-content: space-between; /* Alinha os itens à direita */
    row-gap: 16px;
    margin-bottom: 40px;
    margin-top: 40px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    color: #231D19;
    ;
}
h1 {
    color: #093C71;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}