<div class="cards-container">
  <mat-card class="card-search" *ngFor="let item of items">
    <img mat-card-image [src]="item.picture" [alt]="item.title">
    <mat-card-content>
      <ul>
        <li class="title">{{ item.title }}</li>
        <li class="price">{{ item.price.amount }}</li>
        <div class="container-cashback">
          <li class="cashback">R${{ item.price.cashback }} de cashback</li>
        </div>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button>aproveitar cashback</button>
    </mat-card-actions>
  </mat-card>
</div>
